.jumbotron {
	margin: 20px auto;
	margin-left: 40px;
	padding: 50px;
	box-sizing: border-box;
	width: 60%;
	float: left;
}

.jumbotron h1 {
	margin-left: 2.5%;
}

.jumbotron p {
	float: right;
	font-size: 1em;
}


.jeffimage {
	width: 30%;
	display: inline-block;
	float: left;
}

.container-jumbotron-text {
	width: 40%;
	display: inline-block;
	float: right;

}

.jumbotron ul {
	clear: both;
}

.input-group {
	width: 100%;
}

.input-group-addon {
	width: 20%;
}

.message-input {
	height: 20em;
}

.portfolio-a,
.portfolio-b,
.portfolio-c,
.portfolio-d,
.portfolio-e,
.portfolio-f {
	margin-left: 30%;
	margin-right: 30%;
}

.portfolio-inset {
	text-align: center;
	position: relative;
	background-color: cyan;
	width: 200px;
	bottom: 80px;
	color: black;
	padding: 10px;
	font-size: 1em;
}

.btn-container-contact-links {
	float: right;
	width: 30%;
	margin-right: 40px;
	margin-top: 20px;
	background-color: #eee;
}

.contact-link-button img{
	width: 70px;
	margin-right: 10px;
	margin-bottom: 20px;
}